flows (4).json
[{"id":"c6b64d4.3a9dab","type":"tab","label":"ModBusRead","disabled":false,"info":""},{"id":"2cc8f9be.609e66","type":"link in","z":"c6b64d4.3a9dab","name":"MonitoringIn","links":["b2a95edb.84d7a","462bbf23.8ea09","cdf5db45.a1b9e8","65215c48.46aa24","52ffc3de.f6f37c","511925dd.5f613c"],"x":755,"y":620,"wires":[["e92847f7.295c98"]]},{"id":"3e69f563.b8f4ea","type":"link out","z":"c6b64d4.3a9dab","name":"Monitoring Out","links":["c50b6255.ec40e","afe31d87.67f0c"],"x":1335,"y":620,"wires":[]},{"id":"cf47a458.fbf048","type":"comment","z":"c6b64d4.3a9dab","name":"Monitoring_Read_In","info":"","x":710,"y":580,"wires":[]},{"id":"83850734.512368","type":"comment","z":"c6b64d4.3a9dab","name":"Monitoring_Read_Out","info":"","x":1400,"y":580,"wires":[]},{"id":"ae65feba.fb8c3","type":"comment","z":"c6b64d4.3a9dab","name":"System_Settings_Read_In","info":"","x":730,"y":660,"wires":[]},{"id":"59aed7ea.a30c68","type":"comment","z":"c6b64d4.3a9dab","name":"System_Settings_Read_Out","info":"","x":1420,"y":660,"wires":[]},{"id":"e92847f7.295c98","type":"modbus-flex-getter","z":"c6b64d4.3a9dab","name":"Inverter","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"e58adf35.07bda","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":1060,"y":620,"wires":[[],["3e69f563.b8f4ea","3352277.d95bdd8"]]},{"id":"3352277.d95bdd8","type":"link out","z":"c6b64d4.3a9dab","name":"ModBus_SSReadOut","links":["61f02d9e.851584","c85f2aa8.54a6f8","7ff26f22.d9183","5de4bd79.c07894"],"x":1335,"y":700,"wires":[]},{"id":"f0045c4f.2ff7","type":"link in","z":"c6b64d4.3a9dab","name":"ModBus_SSReadIn","links":["1fd4e0a7.0cf62f"],"x":755,"y":700,"wires":[["e92847f7.295c98"]]},{"id":"6896d5b1.4a006c","type":"tab","label":"New Inverter Monitoring","disabled":false,"info":""},{"id":"1ffe3b56.7131e5","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6cc9079a.72c3d8","1e11acc8.b90fe3"],"x":1354,"y":1679,"w":1032,"h":82},{"id":"300a1c98.83fec4","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f262ce66.d7a3d","6bd5ba35.6c43e4"],"x":1354,"y":659,"w":1032,"h":82},{"id":"39401e3.a77fde2","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["390bbfb.d268d4","e21ff015.dfedc"],"x":1354,"y":2419,"w":1092,"h":82},{"id":"435a1086.af927","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f3eec5fd.c37da8","32a08277.fbddde"],"x":1354,"y":1779,"w":1052,"h":82},{"id":"51dd32ce.89e32c","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9a9d5fca.1a60a","7bc90644.9c6ed8","48d4a353.b8402c","f2fcdb83.cfd138"],"x":1354,"y":899,"w":1072,"h":142},{"id":"58b56243.c85e0c","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["df11248d.6d2708","69828bbb.231c14"],"x":1354,"y":259,"w":1032,"h":82},{"id":"6a507d4d.cf6194","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["61fc72e0.49c60c","1726151d.11f0fb"],"x":1354,"y":1579,"w":1032,"h":82},{"id":"8837c96e.409d88","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["42dcedf2.a6b324","83db4068.7280e"],"x":1354,"y":1059,"w":1052,"h":82},{"id":"914d7215.00176","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3d1decef.134f84","b2c32086.bbcf2"],"x":1354,"y":2019,"w":1072,"h":82},{"id":"98918c1c.76378","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["55d38a80.aa28c4","ac6a4cbe.90735"],"x":1354,"y":139,"w":1052,"h":82},{"id":"b80c7172.9534","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["10142f4d.ffa221","b791079c.57ae38"],"x":1354,"y":1259,"w":1092,"h":82},{"id":"c10595c.247af68","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bd1f7163.7da5d","c3586ebd.49ede"],"x":1354,"y":559,"w":1072,"h":82},{"id":"c3799290.7992","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["996e4aa8.2909b8","1e2347e0.0a5578"],"x":1354,"y":2317,"w":1112,"h":84},{"id":"c4204055.d7371","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9f0c5030.e3318","9084a823.c77a48"],"x":1354,"y":757,"w":1092,"h":84},{"id":"cd3450d5.bf5dc","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e4f6bad6.6b6c38","15324286.fab59d"],"x":1354,"y":2119,"w":1072,"h":82},{"id":"d3a8885.d493678","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["cc8b90d6.514c4","a6a7d1bb.d44ec"],"x":1354,"y":1399,"w":1112,"h":82},{"id":"d3d2309e.bae77","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["95a6aed8.a8832","39b7f801.bc5548"],"x":1354,"y":2217,"w":1092,"h":84},{"id":"e2d25ca1.1948b","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6adc17ec.8c5828","1c2efe62.235e02"],"x":1354,"y":1879,"w":1052,"h":82},{"id":"e3713a8d.e69168","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["cff37781.271d68","c1dae33d.984b4"],"x":1354,"y":359,"w":1092,"h":82},{"id":"f3e7ec42.67f53","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7cca98a5.0d1d48","10a25ae1.7b7635"],"x":1344,"y":1159,"w":1102,"h":82},{"id":"f4495bc9.d199e8","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["eb6e3973.e3ade8","52ee82b7.ebb01c"],"x":1354,"y":2519,"w":1112,"h":82},{"id":"fcc6de89.f9e7e","type":"group","z":"6896d5b1.4a006c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2c43e7bb.e28a28","20c1f234.3fd57e"],"x":1354,"y":459,"w":1092,"h":82},{"id":"3d1decef.134f84","type":"function","z":"6896d5b1.4a006c","g":"914d7215.00176","name":"Grid_Import_day - 76 ","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 76, \n    'quantity': 1 }; \nmsg.topic = \"grid_gridbuy_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":2060,"wires":[["511925dd.5f613c"]]},{"id":"b2c32086.bbcf2","type":"function","z":"6896d5b1.4a006c","g":"914d7215.00176","name":"Grid_Import_day","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"grid_gridbuy_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":2060,"wires":[["e2b400a4.a7a0d"]]},{"id":"e4f6bad6.6b6c38","type":"function","z":"6896d5b1.4a006c","g":"cd3450d5.bf5dc","name":"Grid_Export_Day - 77","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 77, \n    'quantity': 1 }; \nmsg.topic = \"grid_export_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":2160,"wires":[["511925dd.5f613c"]]},{"id":"15324286.fab59d","type":"function","z":"6896d5b1.4a006c","g":"cd3450d5.bf5dc","name":"Grid_Export_Day","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"grid_export_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":2160,"wires":[["e2b400a4.a7a0d"]]},{"id":"2c43e7bb.e28a28","type":"function","z":"6896d5b1.4a006c","g":"fcc6de89.f9e7e","name":"Grid_Inverter_Voltage - 154","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 154, \n    'quantity': 1 }; \nmsg.topic = \"voltage_inverter\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":500,"wires":[["511925dd.5f613c"]]},{"id":"20c1f234.3fd57e","type":"function","z":"6896d5b1.4a006c","g":"fcc6de89.f9e7e","name":"Grid_Inverter_Voltage","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"voltage_inverter\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":500,"wires":[["e2b400a4.a7a0d"]]},{"id":"bd1f7163.7da5d","type":"function","z":"6896d5b1.4a006c","g":"c10595c.247af68","name":"Grid_Grid_Voltage - 150","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 150, \n    'quantity': 1 }; \nmsg.topic = \"voltage_grid\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":600,"wires":[["511925dd.5f613c"]]},{"id":"c3586ebd.49ede","type":"function","z":"6896d5b1.4a006c","g":"c10595c.247af68","name":"Grid_Grid_Voltage","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"voltage_grid\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":600,"wires":[["e2b400a4.a7a0d"]]},{"id":"9a9d5fca.1a60a","type":"function","z":"6896d5b1.4a006c","g":"51dd32ce.89e32c","name":"Total_Load - 178","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 178, \n    'quantity': 1 }; \nmsg.topic = \"total_load\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":940,"wires":[["511925dd.5f613c"]]},{"id":"7bc90644.9c6ed8","type":"function","z":"6896d5b1.4a006c","g":"51dd32ce.89e32c","name":"Total_Load","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"total_load\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":940,"wires":[["e2b400a4.a7a0d"]]},{"id":"48d4a353.b8402c","type":"function","z":"6896d5b1.4a006c","g":"51dd32ce.89e32c","name":"Grid_Inverter_Load - 167","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 167, \n    'quantity': 1 }; \nmsg.topic = \"load_grid_inverter\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":1000,"wires":[["511925dd.5f613c"]]},{"id":"f2fcdb83.cfd138","type":"function","z":"6896d5b1.4a006c","g":"51dd32ce.89e32c","name":"Grid_Inverter_Load","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"load_grid_inverter\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":1000,"wires":[["e2b400a4.a7a0d"]]},{"id":"42dcedf2.a6b324","type":"function","z":"6896d5b1.4a006c","g":"8837c96e.409d88","name":"Grid_Grid_CT - 172","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 172, \n    'quantity': 1 }; \nmsg.topic = \"grid_ct\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":1100,"wires":[["511925dd.5f613c"]]},{"id":"83db4068.7280e","type":"function","z":"6896d5b1.4a006c","g":"8837c96e.409d88","name":"Grid_Grid_CT","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"grid_ct\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2300,"y":1100,"wires":[["e2b400a4.a7a0d"]]},{"id":"f262ce66.d7a3d","type":"function","z":"6896d5b1.4a006c","g":"300a1c98.83fec4","name":"Battery_Volts - 183","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 183, \n    'quantity': 1 }; \nmsg.topic = \"battery_volt\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":700,"wires":[["511925dd.5f613c"]]},{"id":"6bd5ba35.6c43e4","type":"function","z":"6896d5b1.4a006c","g":"300a1c98.83fec4","name":"Battery_Volts","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 100;\n} else {\n    msg.payload = (a) / 100;\n}\nif (msg.topic === \"battery_volt\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":700,"wires":[["e2b400a4.a7a0d"]]},{"id":"df11248d.6d2708","type":"function","z":"6896d5b1.4a006c","g":"58b56243.c85e0c","name":"Battery_SoC 184","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 184, \n    'quantity': 1 }; \nmsg.topic = \"battery_soc\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":300,"wires":[["511925dd.5f613c"]]},{"id":"69828bbb.231c14","type":"function","z":"6896d5b1.4a006c","g":"58b56243.c85e0c","name":"Battery_SoC","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"battery_soc\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2290,"y":300,"wires":[["e2b400a4.a7a0d"]]},{"id":"10142f4d.ffa221","type":"function","z":"6896d5b1.4a006c","g":"b80c7172.9534","name":"Battery_Output_Power - 190","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 190, \n    'quantity': 1 }; \nmsg.topic = \"battery_output_power\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":1300,"wires":[["511925dd.5f613c"]]},{"id":"b791079c.57ae38","type":"function","z":"6896d5b1.4a006c","g":"b80c7172.9534","name":"Battery_Output_Power","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (0 - a + 65535) / 1;\n} else {\n    msg.payload = (0 - a) / 1;\n}\nif (msg.topic === \"battery_output_power\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":1300,"wires":[["e2b400a4.a7a0d"]]},{"id":"cc8b90d6.514c4","type":"function","z":"6896d5b1.4a006c","g":"d3a8885.d493678","name":"Battery_Output_Current - 191","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 191, \n    'quantity': 1 }; \nmsg.topic = \"battery_output_current\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":1440,"wires":[["511925dd.5f613c"]]},{"id":"a6a7d1bb.d44ec","type":"function","z":"6896d5b1.4a006c","g":"d3a8885.d493678","name":"Battery_Output_Current","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (0 - a + 65535) / 100;\n} else {\n    msg.payload = (0 - a) / 100;\n}\nif (msg.topic === \"battery_output_current\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2330,"y":1440,"wires":[["e2b400a4.a7a0d"]]},{"id":"55d38a80.aa28c4","type":"function","z":"6896d5b1.4a006c","g":"98918c1c.76378","name":"Overall_State - 59","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 59, \n    'quantity': 1 }; \nmsg.topic = \"overall_state\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":180,"wires":[["511925dd.5f613c"]]},{"id":"ac6a4cbe.90735","type":"function","z":"6896d5b1.4a006c","g":"98918c1c.76378","name":"Overall_State","func":"if (msg.topic === \"overall_state\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2300,"y":180,"wires":[["e2b400a4.a7a0d"]]},{"id":"95a6aed8.a8832","type":"function","z":"6896d5b1.4a006c","g":"d3d2309e.bae77","name":"Battery_Charge_Day - 70","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 70, \n    'quantity': 1 }; \nmsg.topic = \"overall_battery_charge_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":2260,"wires":[["511925dd.5f613c"]]},{"id":"39b7f801.bc5548","type":"function","z":"6896d5b1.4a006c","g":"d3d2309e.bae77","name":"Battery_Charge_Day","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"overall_battery_charge_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":2258,"wires":[["e2b400a4.a7a0d"]]},{"id":"a2565a1c.ec5f28","type":"gate","z":"6896d5b1.4a006c","name":"Monitor_Gate","controlTopic":"monitor_gate","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":380,"y":1200,"wires":[["d6b3d858.c23e48"]]},{"id":"68d949e7.0872f8","type":"inject","z":"6896d5b1.4a006c","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":1200,"wires":[["a2565a1c.ec5f28"]]},{"id":"996e4aa8.2909b8","type":"function","z":"6896d5b1.4a006c","g":"c3799290.7992","name":"Battery_Discharge_Day - 71","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 71, \n    'quantity': 1 }; \nmsg.topic = \"overall_battery_discharge_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":2360,"wires":[["511925dd.5f613c"]]},{"id":"1e2347e0.0a5578","type":"function","z":"6896d5b1.4a006c","g":"c3799290.7992","name":"Battery_Discharge_Day","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"overall_battery_discharge_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2330,"y":2358,"wires":[["e2b400a4.a7a0d"]]},{"id":"9f0c5030.e3318","type":"function","z":"6896d5b1.4a006c","g":"c4204055.d7371","name":"Battery_Charge_Volts - 312","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 312, \n    'quantity': 1 }; \nmsg.topic = \"battery_charge_volts\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":800,"wires":[["511925dd.5f613c"]]},{"id":"9084a823.c77a48","type":"function","z":"6896d5b1.4a006c","g":"c4204055.d7371","name":"Battery_Charge_Volts","func":"var a\na = (msg.payload.data / -1)\nif (a > 32767) {\n  msg.payload = (0 - a + 65535) / 100;\n} else {\n    msg.payload = (0 - a) / 100;\n}\nif (msg.topic === \"battery_charge_volts\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":798,"wires":[["e2b400a4.a7a0d"]]},{"id":"cff37781.271d68","type":"function","z":"6896d5b1.4a006c","g":"e3713a8d.e69168","name":"Grid_Grid_Frequency - 079","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 079, \n    'quantity': 1 }; \nmsg.topic = \"grid_frequency\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":400,"wires":[["511925dd.5f613c"]]},{"id":"c1dae33d.984b4","type":"function","z":"6896d5b1.4a006c","g":"e3713a8d.e69168","name":"Grid_Grid_Frequency","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"grid_frequency\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":400,"wires":[["e2b400a4.a7a0d"]]},{"id":"61fc72e0.49c60c","type":"function","z":"6896d5b1.4a006c","g":"6a507d4d.cf6194","name":"Temperature Battery - 182","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 182, \n    'quantity': 1 }; \nmsg.topic = \"temp_batt\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":1620,"wires":[["511925dd.5f613c"]]},{"id":"6cc9079a.72c3d8","type":"function","z":"6896d5b1.4a006c","g":"1ffe3b56.7131e5","name":"Temperature Environment - 095","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 095, \n    'quantity': 1 }; \nmsg.topic = \"temp_enviro\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":1720,"wires":[["511925dd.5f613c"]]},{"id":"f3eec5fd.c37da8","type":"function","z":"6896d5b1.4a006c","g":"435a1086.af927","name":"Temperature DC Transformer - 090","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 090, \n    'quantity': 1 }; \nmsg.topic = \"temp_DCtrans\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":1820,"wires":[["511925dd.5f613c"]]},{"id":"6adc17ec.8c5828","type":"function","z":"6896d5b1.4a006c","g":"e2d25ca1.1948b","name":"Temperature Radiator - 091","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 091, \n    'quantity': 1 }; \nmsg.topic = \"temp_radiator\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":1920,"wires":[["511925dd.5f613c"]]},{"id":"1726151d.11f0fb","type":"function","z":"6896d5b1.4a006c","g":"6a507d4d.cf6194","name":"Temp_Batt","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = ((a - 65535)-1000) / 10;\n} else {\n    msg.payload = ((a)-1000) / 10;\n}\nif (msg.topic === \"temp_batt\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":1620,"wires":[["e2b400a4.a7a0d"]]},{"id":"1e11acc8.b90fe3","type":"function","z":"6896d5b1.4a006c","g":"1ffe3b56.7131e5","name":"temp_enviro","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"temp_enviro\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":1720,"wires":[["e2b400a4.a7a0d"]]},{"id":"32a08277.fbddde","type":"function","z":"6896d5b1.4a006c","g":"435a1086.af927","name":"temp_DCtrans","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 100;\n} else {\n    msg.payload = (a) / 100;\n}\nif (msg.topic === \"temp_DCtrans\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":1820,"wires":[["e2b400a4.a7a0d"]]},{"id":"1c2efe62.235e02","type":"function","z":"6896d5b1.4a006c","g":"e2d25ca1.1948b","name":"temp_radiator","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = ((a - 65535)-1000) / 10;\n} else {\n    msg.payload = ((a)-1000) / 10;\n}\nif (msg.topic === \"temp_radiator\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":1920,"wires":[["e2b400a4.a7a0d"]]},{"id":"7cca98a5.0d1d48","type":"function","z":"6896d5b1.4a006c","g":"f3e7ec42.67f53","name":"Inverter_total_power - 175","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 175, \n    'quantity': 1 }; \nmsg.topic = \"invrt_total_pwr\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":1200,"wires":[["511925dd.5f613c"]]},{"id":"10a25ae1.7b7635","type":"function","z":"6896d5b1.4a006c","g":"f3e7ec42.67f53","name":"Inverter_total_power","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"invrt_total_pwr\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":1200,"wires":[["e2b400a4.a7a0d"]]},{"id":"afe31d87.67f0c","type":"link in","z":"6896d5b1.4a006c","name":"ModBusRead_In","links":["3e69f563.b8f4ea"],"x":1935,"y":1500,"wires":[["f2fcdb83.cfd138","b2c32086.bbcf2","15324286.fab59d","20c1f234.3fd57e","c3586ebd.49ede","7bc90644.9c6ed8","83db4068.7280e","6bd5ba35.6c43e4","69828bbb.231c14","b791079c.57ae38","a6a7d1bb.d44ec","ac6a4cbe.90735","39b7f801.bc5548","1e2347e0.0a5578","9084a823.c77a48","c1dae33d.984b4","1726151d.11f0fb","1e11acc8.b90fe3","32a08277.fbddde","1c2efe62.235e02","10a25ae1.7b7635","e21ff015.dfedc","52ee82b7.ebb01c","f17643b5.e7c9","f838144.ce46be8","5f1b70e0.6cba2","c75fb32.13f405","710ad2d5.408b4c","5302ee97.6844e","68ad34a7.98de7c"]]},{"id":"511925dd.5f613c","type":"link out","z":"6896d5b1.4a006c","name":"ModBusRead_Out","links":["2cc8f9be.609e66"],"x":1835,"y":1500,"wires":[]},{"id":"390bbfb.d268d4","type":"function","z":"6896d5b1.4a006c","g":"39401e3.a77fde2","name":"DayActive PowerWh - 60","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 60, \n    'quantity': 1 }; \nmsg.topic = \"dayactive_powerWh\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":2460,"wires":[["511925dd.5f613c"]]},{"id":"eb6e3973.e3ade8","type":"function","z":"6896d5b1.4a006c","g":"f4495bc9.d199e8","name":"DayReactive_PowerWh - 061","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 61, \n    'quantity': 1 }; \nmsg.topic = \"dayreactive_powerWh\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":2560,"wires":[["511925dd.5f613c"]]},{"id":"e21ff015.dfedc","type":"function","z":"6896d5b1.4a006c","g":"39401e3.a77fde2","name":"DayActive PowerWh","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"dayactive_powerWh\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":2460,"wires":[["e2b400a4.a7a0d"]]},{"id":"52ee82b7.ebb01c","type":"function","z":"6896d5b1.4a006c","g":"f4495bc9.d199e8","name":"DayReactive_PowerWh","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"dayreactive_powerWh\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":2560,"wires":[["e2b400a4.a7a0d"]]},{"id":"e2b400a4.a7a0d","type":"link out","z":"6896d5b1.4a006c","name":"Send to MQTT ","links":["c355521a.d7b54"],"x":2895,"y":2220,"wires":[]},{"id":"e62021dd.5a974","type":"change","z":"6896d5b1.4a006c","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1100,"wires":[["42dcedf2.a6b324"]]},{"id":"7970b4eb.506aac","type":"change","z":"6896d5b1.4a006c","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":700,"wires":[["f262ce66.d7a3d"]]},{"id":"a58bda76.107608","type":"change","z":"6896d5b1.4a006c","name":"Frequency","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"none","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"hz","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":400,"wires":[["cff37781.271d68"]]},{"id":"cfb8a426.b79128","type":"change","z":"6896d5b1.4a006c","name":"Percentage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"battery","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"%","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":300,"wires":[["df11248d.6d2708"]]},{"id":"b737e5ba.522598","type":"change","z":"6896d5b1.4a006c","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1820,"wires":[["f3eec5fd.c37da8"]]},{"id":"10c776d1.7f4ec9","type":"change","z":"6896d5b1.4a006c","name":"Current","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"current","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1440,"wires":[["cc8b90d6.514c4"]]},{"id":"aa096e1c.4953a","type":"change","z":"6896d5b1.4a006c","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2260,"wires":[["95a6aed8.a8832"]]},{"id":"95c1ac5e.8a12","type":"change","z":"6896d5b1.4a006c","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":800,"wires":[["9f0c5030.e3318"]]},{"id":"ce70e67.52c0b18","type":"change","z":"6896d5b1.4a006c","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":500,"wires":[["2c43e7bb.e28a28"]]},{"id":"37a0df5d.d4c3","type":"change","z":"6896d5b1.4a006c","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":600,"wires":[["bd1f7163.7da5d"]]},{"id":"2459503f.18e","type":"change","z":"6896d5b1.4a006c","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1000,"wires":[["48d4a353.b8402c"]]},{"id":"28d1e477.27f3dc","type":"change","z":"6896d5b1.4a006c","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1200,"wires":[["7cca98a5.0d1d48"]]},{"id":"8eaf640b.b5fb18","type":"change","z":"6896d5b1.4a006c","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":940,"wires":[["9a9d5fca.1a60a"]]},{"id":"14480be7.813004","type":"change","z":"6896d5b1.4a006c","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1300,"wires":[["10142f4d.ffa221"]]},{"id":"a7326c7c.036b5","type":"change","z":"6896d5b1.4a006c","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1920,"wires":[["6adc17ec.8c5828"]]},{"id":"3ae30313.f7972c","type":"change","z":"6896d5b1.4a006c","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1720,"wires":[["6cc9079a.72c3d8"]]},{"id":"40b551bb.882b1","type":"change","z":"6896d5b1.4a006c","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1620,"wires":[["61fc72e0.49c60c"]]},{"id":"63d92c33.baae14","type":"change","z":"6896d5b1.4a006c","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2160,"wires":[["e4f6bad6.6b6c38"]]},{"id":"dbd233f1.a0ed7","type":"change","z":"6896d5b1.4a006c","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2360,"wires":[["996e4aa8.2909b8"]]},{"id":"62a4a5b5.fd27dc","type":"change","z":"6896d5b1.4a006c","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2560,"wires":[["eb6e3973.e3ade8"]]},{"id":"a5309e38.e7791","type":"change","z":"6896d5b1.4a006c","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2060,"wires":[["3d1decef.134f84"]]},{"id":"88ae229e.ec47c","type":"change","z":"6896d5b1.4a006c","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2460,"wires":[["390bbfb.d268d4"]]},{"id":"aea82a20.cdc4a8","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV1_Power 186","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 186, \n    'quantity': 1 }; \nmsg.topic = \"Solar_PV1_Power\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":3020,"wires":[["511925dd.5f613c"]]},{"id":"f12e413c.e81eb","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV1_Voltage 109","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 109, \n    'quantity': 1 }; \nmsg.topic = \"Solar_PV1_volts\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":3080,"wires":[["511925dd.5f613c"]]},{"id":"4e23e423.fd1d9c","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV_Day","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 108, \n    'quantity': 1 }; \nmsg.topic = \"Solar_PV_Day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":3280,"wires":[["511925dd.5f613c"]]},{"id":"b9b6620d.bd7aa","type":"change","z":"6896d5b1.4a006c","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2680,"wires":[["aea82a20.cdc4a8"]]},{"id":"447f3b68.910e14","type":"change","z":"6896d5b1.4a006c","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2740,"wires":[["f12e413c.e81eb"]]},{"id":"7481b913.1cbb58","type":"change","z":"6896d5b1.4a006c","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2860,"wires":[["4e23e423.fd1d9c"]]},{"id":"5f1b70e0.6cba2","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV_Day","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"Solar_PV_Day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3280,"wires":[["e2b400a4.a7a0d"]]},{"id":"f17643b5.e7c9","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV1_Power","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"Solar_PV1_Power\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":3020,"wires":[["e2b400a4.a7a0d","11be1c8e.ca6a63"]]},{"id":"f838144.ce46be8","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV1_Voltage","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"Solar_PV1_volts\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":3080,"wires":[["e2b400a4.a7a0d"]]},{"id":"34053025.9eb31","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV2_Power 187","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 187, \n    'quantity': 1 }; \nmsg.topic = \"Solar_PV2_Power\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":3400,"wires":[["511925dd.5f613c"]]},{"id":"38f0e849.c1f338","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV2_Voltage 111","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 111, \n    'quantity': 1 }; \nmsg.topic = \"Solar_PV2_volts\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":3460,"wires":[["511925dd.5f613c"]]},{"id":"83c26b1e.eba798","type":"change","z":"6896d5b1.4a006c","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2920,"wires":[["34053025.9eb31"]]},{"id":"1727ef59.133b71","type":"change","z":"6896d5b1.4a006c","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2980,"wires":[["38f0e849.c1f338"]]},{"id":"c75fb32.13f405","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV2_Power","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"Solar_PV2_Power\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":3400,"wires":[["e2b400a4.a7a0d","11be1c8e.ca6a63"]]},{"id":"710ad2d5.408b4c","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV2_Voltage","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"Solar_PV2_volts\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":3460,"wires":[["e2b400a4.a7a0d"]]},{"id":"d6b3d858.c23e48","type":"cycle","z":"6896d5b1.4a006c","name":"","outputs":29,"x":530,"y":1920,"wires":[["cfb8a426.b79128"],["a58bda76.107608"],["ce70e67.52c0b18"],["37a0df5d.d4c3"],["7970b4eb.506aac"],["95c1ac5e.8a12"],["8eaf640b.b5fb18"],["2459503f.18e"],["e62021dd.5a974"],["28d1e477.27f3dc"],["14480be7.813004"],["10c776d1.7f4ec9"],["40b551bb.882b1"],["3ae30313.f7972c"],["b737e5ba.522598"],["a7326c7c.036b5"],["a5309e38.e7791"],["63d92c33.baae14"],["aa096e1c.4953a"],["dbd233f1.a0ed7"],["88ae229e.ec47c"],["62a4a5b5.fd27dc"],["b9b6620d.bd7aa"],["447f3b68.910e14"],["7481b913.1cbb58"],["83c26b1e.eba798"],["1727ef59.133b71"],["ad823dda.051e9"],["322c0c70.7167d4"]]},{"id":"11be1c8e.ca6a63","type":"function","z":"6896d5b1.4a006c","name":"Solar_total_Power","func":"var p1value = flow.get(\"p1value\");\nvar p2value = flow.get(\"p2value\");\nvar total;\n\nif (msg.topic == \"Solar_PV1_Power\") {\n    v1value = msg.payload;\n    flow.set(\"p1value\",msg.payload);\n}else if (msg.topic == \"Solar_PV2_Power\"){\n    v2value = msg.payload;\n    flow.set(\"p2value\",msg.payload);\n}\nif (p1value !== undefined && p2value !== undefined) {\n   total = p1value + p2value;\n   msg.payload = total;\n   msg.topic = 'solar_total_power';\n   return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2898.5078125,"y":3154.5234375,"wires":[["e2b400a4.a7a0d"]]},{"id":"278feac9.6dc826","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV2_Amps 112","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 112, \n    'quantity': 1 }; \nmsg.topic = \"Solar_PV2_Amps\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":3520,"wires":[["511925dd.5f613c"]]},{"id":"68ad34a7.98de7c","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV2_Amps","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"Solar_PV2_Amps\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":3520,"wires":[["e2b400a4.a7a0d"]]},{"id":"9e5c4ee2.45a8f","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV1_Amps  110","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 110, \n    'quantity': 1 }; \nmsg.topic = \"Solar_PV1_Amps\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":3140,"wires":[["511925dd.5f613c"]]},{"id":"5302ee97.6844e","type":"function","z":"6896d5b1.4a006c","name":"Solar_PV1_Amps","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"Solar_PV1_Amps\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":3140,"wires":[["e2b400a4.a7a0d"]]},{"id":"322c0c70.7167d4","type":"change","z":"6896d5b1.4a006c","name":"Amps","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"Amps","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3060,"wires":[["278feac9.6dc826"]]},{"id":"ad823dda.051e9","type":"change","z":"6896d5b1.4a006c","name":"Amps","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"Amps","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2800,"wires":[["9e5c4ee2.45a8f"]]},{"id":"53e80bae.99ffa4","type":"tab","label":"Publish Externally","disabled":false,"info":""},{"id":"46b692d7.09ba9c","type":"mqtt out","z":"53e80bae.99ffa4","name":"Publish to MQTT","topic":"","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f35ad748.1790a8","x":830,"y":140,"wires":[]},{"id":"c355521a.d7b54","type":"link in","z":"53e80bae.99ffa4","name":"MQTT Publish","links":["e2b400a4.a7a0d"],"x":295,"y":220,"wires":[["f01716eb.f912a8","106df0a9.3e748f"]]},{"id":"f01716eb.f912a8","type":"function","z":"53e80bae.99ffa4","name":"Assemble Value","func":"//var fulltopic\nmsg.shorttopic = msg.topic\nmsg.topic = \"homeassistant/sensor/SunSynk\" + \"/\" + \"/\" + msg.topic + \"/\" + \"value\";\nmsg.topic = msg.topic.replace(\"//\", \"/\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":140,"wires":[["46b692d7.09ba9c","b45db50e.8b7308","c8e15c26.7d6b1"]]},{"id":"b45db50e.8b7308","type":"debug","z":"53e80bae.99ffa4","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"106df0a9.3e748f","type":"function","z":"53e80bae.99ffa4","name":"Convert to Influx Friendly Value","func":"lowertopic = msg.topic\nlowertopic = lowertopic.toLowerCase()\nmsg.payload = [\n    {\n        measurement: lowertopic,\n        fields: {\n            value: Number(msg.payload),\n        },\n        timestamp: new Date()\n    }]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":580,"wires":[["ac62de10.f9307","e9d4b6ab.cdb7b8"]]},{"id":"ac62de10.f9307","type":"debug","z":"53e80bae.99ffa4","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"topic","targetType":"msg","statusVal":"payload","statusType":"auto","x":810,"y":620,"wires":[]},{"id":"e9d4b6ab.cdb7b8","type":"influxdb batch","z":"53e80bae.99ffa4","influxdb":"332d824c.c7d53e","precision":"","retentionPolicy":"","name":"Send to Influx","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":820,"y":580,"wires":[]},{"id":"80f3c58b.0a2bd8","type":"comment","z":"53e80bae.99ffa4","name":"Send to influxdb","info":"","x":480,"y":540,"wires":[]},{"id":"5b31d264.d1fa0c","type":"comment","z":"53e80bae.99ffa4","name":"Send to MQTT","info":"","x":480,"y":100,"wires":[]},{"id":"c8e15c26.7d6b1","type":"function","z":"53e80bae.99ffa4","name":"Assemble Config","func":"//var fulltopic\nmsg.topic = \"homeassistant/sensor/SunSynk\" + \"/\" + \"/\" + msg.shorttopic + \"/\" + \"config\";\nmsg.topic = msg.topic.replace(\"//\", \"/\");\nmsg.payload = {\n  \n  \"unit_of_measurement\": msg.unit,\n  \"device_class\": msg.deviceclass,\n  \"state_topic\": \"homeassistant/sensor/SunSynk\" + \"/\" + msg.shorttopic + \"/\" + \"value\",\n  \"name\": \"SunSynk_\" + msg.shorttopic,\n  \"unique_id\": msg.shorttopic,\n  \"device\": {\n    \"identifiers\": [\n      \"SunSynk\"\n    ],\n    \"name\": msg.shorttopic,\n    \"model\": \"SynSynk\",\n    \"manufacturer\": \"SunSynk\"\n  \n     }  \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":280,"wires":[["7f7cb9d9.d97fc8","c1eafaed.2c9e88"]]},{"id":"7f7cb9d9.d97fc8","type":"mqtt out","z":"53e80bae.99ffa4","name":"Publish to MQTT","topic":"","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f35ad748.1790a8","x":1150,"y":340,"wires":[]},{"id":"c1eafaed.2c9e88","type":"debug","z":"53e80bae.99ffa4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1070,"y":400,"wires":[]},{"id":"e58adf35.07bda","type":"modbus-client","name":"Inverter","clienttype":"serial","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"tcpHost":"192.168.1.82","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"1000","unit_id":1,"commandDelay":50,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"f35ad748.1790a8","type":"mqtt-broker","name":"Sunsynk","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"332d824c.c7d53e","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"nodered","name":"Home Assistant Inverter","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false}]